%% -*- mode: erlang; -*-

{deps, [
  {thrift, {git, "https://github.com/emqx/thrift.erl.git", {tag, "0.1.3"}}},
  {ezstd, {git, "https://github.com/emqx/ezstd.git", {tag, "v1.0.5-emqx1"}}},
  {snappyer, "1.2.10"}
]}.

{dialyzer, [
  {plt_location, "."},
  {plt_prefix, "parquer_dialyzer"},
  {plt_apps, all_apps},
  {incremental, true}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    warnings_as_errors,
    deprecated_functions
]}.

{profiles, [
  {test, [
    {deps, [
      {proper, {git, "https://github.com/proper-testing/proper", {tag, "v1.5.0"}}}
    ]}
  ]}
]}.
